<h1>Welcome#index</h1>
<% if current_admin %>

                <li> <%= link_to 'Edit', edit_admin_registration_path %> </li>

                <li> <%= link_to 'Sing_out', destroy_admin_session_path, method: 'delete' %></li>
                <br>






New  subadmin
<br>
<br>
<input id="subadmin_email" name="email" type="text" />
<br>
<br>
<input id="subadmin_password" name="password" type="password" />
<br>
<br>
<script>
$(document).ready(function(){

    $("#btn3").click(function(){
       $("#subadmin_email").val("Random Email");
        $("#subadmin_password").val("Random password");
         $("p").append(" <b>Create subadmin with <br> Email :Random Email <br>  Password :  Random password</b>.");
    });
});
</script>
<button id="btn3">Create   subadmin(s)</button>
<p></p>


lIST ALL SUBADMINS
<br>
<br>
......
<br>
<br>
.....
<br>
<br>
.....





        <% elsif current_subadmin %>

                <li> <%= link_to 'Edit', edit_subadmin_registration_path %> </li>

                <li> <%= link_to 'Sing_out', destroy_subadmin_session_path, method: 'delete' %></li>

        <% else %>
                 admin
                <li> <%= link_to 'Sing_up', new_admin_registration_path %> </li>

                <li> <%= link_to 'Sing_in', new_admin_session_path %></li>
         <br>
                 subadmin
                <li> <%= link_to 'Sing_up', new_subadmin_registration_path %> </li>

                <li> <%= link_to 'Sing_in', new_subadmin_session_path %></li>


        <% end %>
